body {
    font-family: Arial, sans-serif;background-color: #f4f4f4;
    margin: 0; padding: 0;
    display: flex;justify-content: center;
    align-items: center;height: 100vh;
}
.container {
    width: 100%; max-width: 600px;
    background: #DDEEFF;border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;}
h1 {
    margin: 0 0 20px 0;font-size: 24px;
    text-align: center;}
.post-form {
    margin-bottom: 20px;
}
textarea {
    width: 100%;height: 100px;
    padding: 10px;border-radius: 4px;
    border: 1px solid #ccc;box-sizing: border-box;}
button {
    background-color: #007bff;color: white;
    border: none; padding: 10px 20px;
    border-radius: 4px;cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #0056b3;
}
.post {
    background-color: #fff;border: 1px solid #ddd;
    border-radius: 4px;padding: 10px;
    margin-bottom: 10px;}
.post p {
    margin: 0;}
.likeButton {
    background-color: #28a745; color: white;border: none;padding: 5px 10px;
    cursor: pointer;border-radius: 4px;margin-top: 10px;
    font-size: 14px;
.likeButton:hover {
    background-color: #218838; 
@media (max-width: 600px) {
    .post {
        font-size: 14px; }
    .likeButton {
        width: 100%; font-size: 16px;}
}
.deleteButton {
    background-color: #dc3545;color: white;border: none;
    padding: 5px 10px;cursor: pointer;border-radius: 4px;
    margin-top: 10px;font-size: 14px;}
.deleteButton:hover {
    background-color: #c82333; /* Darker red on hover */}
@media (max-width: 600px) {
    .deleteButton {
        width: 100%; /font-size: 16px;} 
}
.commendButton{
    background-color: #dc3545;color: white; border: none;
    padding: 5px 10px;cursor: pointer;
    border-radius: 4px;margin-top: 10px;
    font-size: 14px;}
@media (max-width: 600px) {
    .post {
        font-size: 14px;}
    .commendButton {
        width: 100%; font-size: 16px;  }
}
.unlikeButton {
    background-color: #dc3545; color: white;border: none;
    padding: 5px 10px;cursor: pointer;
    border-radius: 4px; margin-top: 10px;
    font-size: 14px;
}
@media (max-width: 600px) {
    .post {
        font-size: 14px; }
    .unlikeButton {
        width: 100%; 
        font-size: 16px;  }
}
.commends {
    margin-top: 80px;}
#ic {
    margin-top: 40px;
    color: green;}
    

    
